.book-card {
    margin-bottom: 50px;
    list-style: none;
    padding-bottom: 10px;
    border-bottom: solid 1px gray;
}

.book-list {
    margin: 0;
    padding-inline-start: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-between;
    height: 100px;
}

#add {
    width: 50%;
}
