.book-card {
  margin-bottom: 20px;
  list-style: none;
  padding-bottom: 10px;
  border-bottom: solid 1px gray;
}

.book-list {
  margin: 0;
  padding-inline-start: 0;
}

form {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 50px;
  margin-bottom: 10px;
}

input {
  margin-bottom: 10px;
}

#add {
  width: 10%;
}
